html {
    font-size: 62.5% ;
}
a {
    text-decoration: none;
    cursor: pointer;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    width: 100%;
    height: 60px;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

header nav .nav-right-section {
    width: 250px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}
nav .nav-right-section a {
    margin-right: 10px;
    color: rgb(0, 0, 0);
}

nav .nav-right-section .menu-icon {
    background-image: url("https://static.thenounproject.com/png/756729-200.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px; 
} /** El background repeat nos ayuda a que la imagen no se repita en el espacio faltante */

nav  .nav-right-section img {
    border-radius: 50%;
    margin-left: 12px;
}

main {
    margin-top: 150px;
    text-align: center;
}

main .main-logo {
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}

main .main-logo img {
    width: 500px;
}

main .main-input {
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}

main .main-input-container {
    width: 525px;
    border-radius: 100px;
    border: 1px solid #202124;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .main-input input {
    width: 450px;
    height: 40px;
    border: none;
    outline: none;
}

main .main-input-container:hover {
    box-shadow: 0 1px 6px 0 #202124;
    border-color: #dfe1e500;
}

main .main-input .search-icon {
    background-image: url('https://cdn-icons-png.flaticon.com/512/122/122932.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
}

main .main-input .micro-icon {
    background-image: url('https://cdn-icons-png.flaticon.com/512/88/88634.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

main .main-buttons {
    width: 530px;
    margin: 0 auto;
}
main .main-buttons div {
    display: inline-block;
}

main .main-buttons button {
    height: 36px;
    background-color: #f2f2f2;
    border: 0;
    font-size: 14px;
    color: #5f6369;
    border-radius: 5px;
    padding: 2px 15px;
    margin-right: 20px;
}

main .main-buttons button:hover {
    box-shadow: 0 1px 6px 0 #1f2022;
    border-color: #02020200;
    color: rgb(10, 10, 10);
}

footer {
    width: 100%;
    height: 50px;
    position: absolute; 
    /* con estas dos:  position: absolute y bottom: 0;
    aseguramos que el footer quede abajo */
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 13px;
    background-color: #f2f2f2;
    border-top: 1px solid #fbfbfb;
}

footer ul {
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 0;
}

footer .footer-left {
    justify-content: left;
}

footer .footer-right {
    justify-content: right;
}

footer ul li a {
    margin: 10px;
    color: #70757a;
}